---
layout: default

previousLabel: CommandBox Migrations
previousHref: getting-started/commandbox-migrations.html
nextLabel: Migrate Up / Down
nextHref: getting-started/migrate-up-down.html
---
<div class="jumbotron">
	<h1>Playlistr: Migrate Create</h1>

	<p class="lead">Let's define us a database table!</p>
</div>

<div class="row">
	<div class="col">
		<h2>Migrate Create</h2>
	</div>

	<div class="w-100"></div>

	<div class="col">
		<p>With the <code>commandbox-migrations</code> module in place and configured, we can now start to create a migration script. These scripts are used to modify your database tables and columns. </p>

		<p>A simple <code>migrate create artists</code> will create the directory <code>./resources/database/migrations/</code> and place a migration template file name <code>yyyy_mm_dd_hhmmss_artists.cfc</code>.</p>

		<p>With this boilerplate file we can modify it to build our <code>artists</code> table.</p>

		<p>The <code>up()</code> method is called by the <code>migrate up</code> and <code>down()</code> is called by <code>migrate down</code>.</p>

		<p>In this first example we have hand written the <code>SQL</code> to create and drop our table. Later you we will use <code>qb</code> to perform our database interactions.</p>

		<p>Now we have a way to build our <code>artists</code> table and tear it down in a predicable and consistent manner using <code>migrate up</code> and <code>migrate down</code>.</p>

		{% include tag.html tag='0.0.2' %}
	</div>

	<div class="col">
		<h3>migrate create artists</h3>
{% highlight cfscript %}
component {

    function up( schema ) {

    }

    function down( schema ) {

    }

}
{% endhighlight %}

		<h3>yyyy_mm_dd_hhmmss_artists.cfc</h3>
{% highlight cfscript %}
component {

    function up( schema ) {
		var sql = "CREATE TABLE `artists` (
			`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
			`name` varchar(255) NOT NULL,
			PRIMARY KEY (`id`)
        ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;"

        queryExecute( sql );
    }

    function down( schema ) {
        var sql = "DROP TABLE `artists`;"

        queryExecute( sql );
    }

}
{% endhighlight %}
	</div>
</div>

{% include footerNav.html
	previousLabel=page.previousLabel
	previousHref=page.previousHref
	nextLabel=page.nextLabel
	nextHref=page.nextHref
%}
