---
layout: default

previousLabel: Prerequisites
previousHref: getting-started/prerequisites.html
nextLabel: CommandBox Migrations
nextHref: getting-started/commandbox-migrations.html
---
<div class="jumbotron">
	<h1>Playlistr: Setup</h1>

	<p class="lead">To get started you'll need <code>CommandBox</code> installed and MySQL as your database.</p>
</div>

<div class="row">
	<div class="col">
		<h2>CommandBox</h2>
	</div>

	<div class="w-100"></div>

	<div class="col-6">
		<p>The best way to get started with a <code>ColdBox</code> application is to fire up <code>CommandBox</code> in your terminal, command line or shell.</p>

		<ul>
			<li><code>cd</code> into the directory you want to build the app in. We've chosen <code>playlistr</code></li>
			<li>Fire up <code>CommandBox</code></li>
			<li>Install the <code>ColdBox</code> framework</li>
			<li>Create a skeleton <code>ColdBox</code> app</li>
			<li>Then we need to install the <code>CommandBox</code> module <code>commandbox-migrations</code> to help us with the creation of our database tables.</li>
			<li>To allow <code>commandbox-migrations</code> to interact with your database we need to tell it where it is and how to connect to it. We use a local <code>.env</code> file for that purpose. The module <code>commandbox-dotenv</code> provides that support so we need to install that as well. More on our <code>.env</code> file later.</li>
		</ul>
	</div>

	<div class="col-6">
{% highlight shell_session %}
$ mkdir playlistr
$ cd playlistr
$ box


______                                          ______
/ ____/___  ____ ___  ____ ___  ____ _____  ____/ / __ )____  _  __
/ /   / __ \/ __ `__ \/ __ `__ \/ __ `/ __ \/ __  / __  / __ \| |/_/
/ /___/ /_/ / / / / / / / / / / / /_/ / / / / /_/ / /_/ / /_/ />  <
\____/\____/_/ /_/ /_/_/ /_/ /_/\__,_/_/ /_/\__,_/_____/\____/_/|_| (R)  v4.0.0+01015

Computers are good at following instructions, but not at reading your mind.

Welcome to CommandBox!
CommandBox:playlistr>install coldbox
CommandBox:playlistr>coldbox create app playlistr
CommandBox:playlistr>install commandbox-migrations
CommandBox:playlistr>install commandbox-dotenv
{% endhighlight %}
	</div>
</div>

<div class="row">
	<div class="col">
		<p>In addition to this description of the process there is a GitHub repository of the code needed to reproduce this product. To be able to follow along in stages there are a number of branch releases. Each branch will be highlighted in this documentation like so:</p>

		<p><strong>Note:</strong> By default the <code>ColdBox</code> skeleton apps gitignore the framework and modules directories. Therefore when you checkout a branch release remember to <code>install --force</code> to pull down and install all the dependencies that are in the <code>box.json</code> at that point.</p>
	</div>
</div>

{% include branch.html branch='0.0.1-base-install' %}

{% include footerNav.html
	previousLabel=page.previousLabel
	previousHref=page.previousHref
	nextLabel=page.nextLabel
	nextHref=page.nextHref
%}
