<div class="row">
	<div class="col">
		<h2>Getting Started</h2>

		<ul>
			<li><a href="getting-started/prerequisites.html">Prerequisites</a></li>
			<li><a href="getting-started/setup.html">Setup</a></li>
			<li><a href="getting-started/commandbox-migrations.html">CommandBox Migrations</a></li>
			<li><a href="getting-started/migrate-create.html">Migrate Create</a></li>
			<li><a href="getting-started/migrate-up-down.html">Migrate Up / Down</a></li>
		</ul>

		<p><strong>Note:</strong> This is not a project to demonstration test coverage or input validation. This is just a simple application to to get you started with <code>Quick</code>.</p>
	</div>

	<div class="col">
		<h2>Build It</h2>

		<ul>
			<li><a href="build-it/quick.html">Add <code>Quick</code> to the app</a></li>
			<li><a href="build-it/artists.html">Build a simple <code>CRUD</code> feature for <code>Artists</code></a></li>
			<li><a href="build-it/albums.html">Build a simple <code>CRUD</code> feature for <code>Albums</code></a></li>
			<li><a href="build-it/albums-artists.html">Join our <code>Albums</code> with our <code>Artists</code></a></li>
		</ul>
	</div>
</div>
