---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Richard Herbert - https://github.com/richardherbert/ - @richardherbert">

		<base href="{{ site.url }}{{ site.baseurl }}/">
		<link rel="icon" href="favicon.ico">

		<title>Playlistr | ColdBox Quick Exemplar</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/navbar-top-fixed.css" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" rel="stylesheet" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


		<link href="css/syntax2.css" rel="stylesheet">
		<link href="css/syntax.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">Playlistr Documentation</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{{ site.url }}{{ site.baseurl }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Getting Started</a>

						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="getting-started/prerequisites.html">Prerequisites</a>
							<a class="dropdown-item" href="getting-started/setup.html">Setup</a>
							<a class="dropdown-item" href="getting-started/commandbox-migrations.html">CommandBox Migrations</a>
							<a class="dropdown-item" href="getting-started/migrate-create.html">Migrate Create</a>
							<a class="dropdown-item" href="getting-started/migrate-up-down.html">Migrate Up / Down</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{{ site.url }}{{ site.baseurl }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Build It</a>

						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="build-it/quick.html">Add Quick</a>
							<a class="dropdown-item" href="build-it/artists.html">Artist CRUD</a>
							<a class="dropdown-item" href="build-it/albums.html">Album CRUD</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="container">
			{{ content }}
		</main>

		<footer class="container">
			<hr>

			<small>Documentation updated: {{ site.time | date: "%Y-%m-%d %H:%M" }}</small>
		</footer>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
